*{

    margin: 0;
    padding: 0;
}

/* #landingPage{
    width: 100%;
}

#infoSection
{
    width: 100%;
}

#descSection
{
    width: 100%;
}

#foodInfo
{
    width: 100%;
} */

.landingPage{
    width: 100%;
    height:80px;
    background-color:#EEEEEE;
}

.IndexPage
{
    width: 100%;
    height:100vh;
    background-color:#EEEEEE;
}

.navBar
{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    background-color:white;
    position:fixed;
    /* padding-top: 20px; */
}

.navLogo
{
    width:30%;
      float: left;

}

.navLogo img
{
    height:95px;
    margin-left: 100px;
    margin-top: -7px;
}

.navLink
{
    width:70%;
    height: 50px;
    float: right;
}
.navLink ul
{
    margin-left: 223px;
}

.navLink ul li
{
    display: inline;
    padding-left: 40px;
}

.navLink ul li a
{
    color: black;
    line-height: 80px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.navLink .button{

    background-color:#004A2F;
    cursor: pointer;

    width:120px;
    height:35px;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
    margin-left: 40px;
    outline: none;
    border: none;
}

.landingPageCont
{
    width: 100%;
    height: 100%;


}

.containers
{    width: 50%;
    float: left;
    margin: 0 auto;

}

.imgs
{
    width: 00px;
    height:560px;
    float:right;
    overflow: hidden;
    z-index: -1;
}

.containers img
{
    height: 530px;
    margin-top: 40px;
    margin-left: 140px;

}

.landingPageHeading
{
    width: 55%;
    margin-top:150px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-left: 100px;


}

.landingPageBody
{
    width:65%;
    margin-top:50px;
    text-align:left;
    font-weight: lighter;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-left: 100px;

}

.landingPageButton
{
    width: 180px;
    height: 40px;
    background-color:#004A2F;
    cursor: pointer;
    outline: none;
    border: none;
    color:white;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 40px;

}

/* Second Page */
/* Info Page */
.infoSection
{
    width: 100%;
    height: 80vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.534)), url(img/palm-trees-at-night-258154\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.infoHeading
{
  width: 50%;
  height: 80vh;
  float: left;
  margin: 0 auto;

}


.infoHeading h3
{
    width: 55%;
    font-family: 'Montserrat', sans-serif;
    font-size:19px;
    color: white;
    text-align: justify;
    padding-top:180px;
    margin-left: 100px;
    font-weight: bold;

}

.infoHeading p
{
    width: 65%;
    font-family: 'Poppins', sans-serif;
        font-size: 16px;
    text-align: justify;
    color: white;
    padding-top:180px;
    padding-left: 50px;
    font-weight:500;


}

.infoButton
{
    width: 180px;
    height: 40px;
    background-color:#004A2F;
    cursor: pointer;
    outline: none;
    border: none;
    color:white;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 40px;

}


.descSection
{
    width: 100%;
    height: 100vh;
    background-color:white;
    margin: 0 auto;
}

.descInfoleft
{
    float: left;
    width: 50%;
    height: 100vh;
}

.descInfoleft h4
{
    font-family: 'Poppins', sans-serif;
    font-size:24px;
    margin-top: 80px;
    margin-left: 105px;
    letter-spacing: 2px;
    font-weight:600;
}

.descInfoleft p
{
    margin-left: 100px;
    width: 60%;
    font-family: 'Poppins', sans-serif;       margin-top: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: left;
    font-weight:lighter;
    color: rgb(48, 48, 48);
}

.descInforight
{
    float:right;
    width: 50%;
    height: 550px;
    overflow: hidden;
    /* position: center; */
    background-image: url(img/bed.jpg);
    background-position: center;
    margin-top: 20px;
    background-size: cover;

}

.descInforight img
{
    height: 550px;
    /* padding-left: 150px; */
    margin-top: 20px;
    margin-right: 80px;
}


.foodInfo
{
    width: 100%;
    height: 85vh;
    background-color:#EEEEEE;

    margin: 0 auto;
    clear: both;
}

.foodImg
{
    width:50%;
    float: left;
    /* margin-top: 40px; */
    /* /* margin-left: 100px; */
    overflow: hidden;


}

.foodImg img
{
    height:550px;
}

.foodDesc
{
    width: 50%;
    float:right;

}

.foodDesc h3
{
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    letter-spacing: 1px;
    padding-left: 80px;
    padding-top:20px;
    font-weight:600;

}

.foodDesc p
{
    width:70%;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align:left;
    font-weight:lighter;
    color: rgb(48, 48, 48);
    margin-left: 80px;
}

.recipieNewsletter h4
{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    letter-spacing: 1px;
    padding-left: 80px;
    padding-top:40px;
    font-weight:300;
    clear: both;
}

.recipieNewsletter input
{
    margin-left: 80px;
    width: 250px;
    height: 35px;
    outline: none;
    margin-top: 40px;
    clear: both;

}

.newsletterButton
{
    width:150px;
    height: 38px;
    background-color:#004A2F;
    border:none;
    color: white;
    outline: none;
        cursor: pointer;
}


/* Footer */

footer
{
    width: 100%;
    height:40vh;
    background-color: #131313;

}

.footerContainer
{
    width: 100%;
    margin: 0 auto;


}

.footerContent
{
    width: 19%;
    height: 30vh;
    float: left;
    margin-left: 60px;
    margin-top: 20px;

}

.footerContent h4
{
    color: rgb(172, 170, 170);
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 16px;
}


.footerContent p
{
    color: rgb(131, 131, 131);
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 14px;
}

.links
{
    margin-top: 40px;
}

.footerContent .links li
{
    list-style-type:none;
    margin-top: 20px;
}

.footerContent .links li a
{
    text-decoration: none;
    color:rgb(172, 170, 170);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

.footerContent i
{
    font-size: 18px;
    color:rgb(172, 170, 170);
    margin-left: 10px;
    margin-top: 20px;

}

.footerContent i span
{
    padding-left: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
