*{

    margin: 0;
    padding: 0;
}

.landingPage{
    width: 100%;
    height:80px;
    background-color:#EEEEEE;
}

.IndexPage
{
    width: 100%;
    height:100vh;
    background-color:#EEEEEE;
}

.navBar
{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    background-color:white;   
    position:fixed; 
    /* padding-top: 20px; */
}

.navLogo
{
    width:30%;
      float: left;

}

.navLogo img
{
    height:95px;
    margin-left: 100px;
    margin-top: -7px;
}

.navLink
{
    width:70%;
    height: 50px;
    float: right;
}
.navLink ul
{
    margin-left: 223px;
}

.navLink ul li
{
    display: inline;
    padding-left: 40px;
}

.navLink ul li a
{
    color: black;
    line-height: 80px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.navLink .button{
 
    background-color:#004A2F;
    cursor: pointer;

    width:120px;
    height:35px;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
    margin-left: 40px;
    outline: none;
    border: none;
}

.landingPageCont
{
    width: 100%;
    height: 100%;


}

.containers
{    width: 50%;
    float: left;
    margin: 0 auto;
}

.containers img
{
    height: 530px;
    margin-top: 40px;
    margin-left: 140px;
}
.landingPageHeading
{
    width: 55%;
    margin-top:150px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-left: 100px;
    
}

.landingPageBody
{
    width:65%;
    margin-top:50px;
    text-align:left;
    font-weight: lighter;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-left: 100px;
    
}

.landingPageButton
{
    width: 180px;
    height: 40px;
    background-color:#004A2F;
    cursor: pointer;
    outline: none;
    border: none;
    color:white;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 40px;

}

/* Second Page */
/* Info Page */
.infoSection
{
    width: 100%;
    height: 80vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.534)), url(img/palm-trees-at-night-258154\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.infoHeading
{
  width: 50%;
  height: 80vh;
  float: left;
  margin: 0 auto;

}


.infoHeading h3
{
    width: 55%;
    font-family: 'Montserrat', sans-serif;
    font-size:19px;
    color: white;
    text-align: justify;
    padding-top:180px;
    margin-left: 100px;
    font-weight: bold;
    
}

.infoHeading p
{
    width: 65%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;
    color: white;
    padding-top:180px;
    padding-left: 50px;
    font-weight:500;
    
    
}

.infoButton
{
    width:150px;
    height: 45px;
    background-color:#004A2F;
    border:none;
    color: white;
    outline: none;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;


}


.descSection
{
    width: 100%;
    height: 100vh;
    background-color:white;
    margin: 0 auto;
}

.descInfoleft
{
    float: left;
    width: 50%;
    height: 100vh;
}

.descInfoleft h3
{
    font-family: 'Rokkitt', serif;
    font-size:35px;
    margin-top: 80px;
    margin-left: 100px;
        letter-spacing: 2px;
    font-weight:600;

    
}

.descInfoleft p
{
    margin-left: 100px;
    width: 60%;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: left;
    font-weight:lighter;
    color: rgb(48, 48, 48);
}

.descInforight
{
    float:right;
    width: 50%;
    height: 550px;
    overflow: hidden;
    /* position: center; */
    background-image: url(img/bed.jpg);
    background-position: center;
    margin-top: 20px;
    background-size: cover;

}

.descInforight img
{
    height: 550px;
    /* padding-left: 150px; */
    margin-top: 20px;
    margin-right: 80px;
}

@media only screen and (max-width: 1922px){
    .landingPage{
        width: 100%;
        height:80px;
        background-color:#EEEEEE;
    }
    .navBar
    {
        width: 100%;
        height: 80px;
        margin: 0 auto;
        overflow: hidden;
        background-color:white;   
        position:fixed; 
    }    
    .navLogo
    {
        width:20%;
        float: left;
        outline: none;
    }    
    .navLogo img
    {
        height:95px;
        margin-left: 100px;
        margin-top: -7px;
        outline: none;
    }
    .navLink
    {
        width:70%;
        height: 65px;
        float: right;
    }
    .navLink ul
    {
        margin-left: 470px;
    }    
    .navLink ul li
    {
        display: inline;
        padding-left: 70px;
    }    
    .navLink ul li a
    {
        color: black;
        line-height: 80px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }
    .navLink ul li a:hover{
        color: lightblue;
    }
    .navLink .button{
        background-color:#004A2F;
        cursor: pointer;
        width:120px;
        height:35px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: white;
        margin-left: 50px;
        outline: none;
        border: none;
    }
    .navLink .button:hover{
        color: lightblue;
        background-color: black;
    }
    .IndexPage
    {
        width: 100%;
        height:90vh;
        background-color:#EEEEEE;
    }
    .landingPageCont
    {
        width: 100%;
        height: 100%;
    }
    .containers
    {
        width: 48%;
        height: 80%;
        float: left;
        margin-left: 1%;
        margin-top: 1%;
    }
    .containers img
    {
        float: right;
        height: 550px;
        margin-top: 80px;
        margin-right: 20%;
    }
    .landingPageHeading
    {
        width: 55%;
        margin-top:150px;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
        word-spacing: 2px;
        margin-left: 100px;   
    }
    .landingPageBody
    {
        width:65%;
        margin-top:50px;
        text-align:left;
        font-weight: lighter;
        color:black;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        word-spacing: 2px;
        margin-left: 100px;
    }
    .landingPageButton
    {
        width: 180px;
        height: 40px;
        background-color:#004A2F;
        cursor: pointer;
        outline: none;
        border: none;
        color:white;
        margin-left: 100px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        margin-top: 40px;
    }
    .landingPageButton:hover{
        color: lightblue;
        background-color: black;
    }

    /* Second Page */
    /* Info Page */

    .infoSection{
        width: 100%;
        height: 80vh;
        background-image:linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.534)), url(img/palm-trees-at-night-258154\ \(3\).jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .infoHeading
    {
        width: 48%;
        height: 80vh;
        float: left;
        margin-left: 1%;
    }
    .infoHeading h3
    {
        width: 80%;
        font-family: 'Montserrat', sans-serif;
        font-size:20px;
        color: white;
        text-align: justify;
        padding-top:200px;
        margin-left: 100px;
        font-weight: bold;    
    }
    .infoHeading p
    {
        width: 85%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        text-align: justify;
        color: white;
        margin-left: 1%;
        padding-top:180px;
        padding-left: 50px;
        padding-right: 50px;
        font-weight:500;
    }
    .infoButton
    {
        width:150px;
        height: 45px;
        background-color:#004A2F;
        border: none;
        color: white;
        outline: none;
        border-radius: 5px;
        margin-top: 60px;
        margin-left: 80px;
        cursor: pointer;
    }
    .infoButton:hover{
        color: lightblue;
        background-color: black;
    }
    .descSection
    {
        width: 100%;
        height: 90vh;
        background-color:white;
        margin: 0 auto;
    }
    .descInfoleft
    {
        float: left;
        width: 45%;
        height: 100%;
    }
    .descInfoleft h3
    {
        font-family: 'Rokkitt', serif;
        font-size:35px;
        margin-top: 80px;
        margin-left: 100px;
        letter-spacing: 2px;
        font-weight:600;
    }
    .descInfoleft p
    {
        margin-left: 100px;
        width: 80%;
        padding-left: 1%;
        padding-right: 1%;
        font-family: 'Roboto', sans-serif;
        margin-top: 40px;
        font-size: 17px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: left;
        font-weight:lighter;
        color: rgb(48, 48, 48);
    }
    .descInforight
    {
        float:right;
        width: 50%;
        height: 550px;
        overflow: hidden;
        background-image: url(img/bed.jpg);
        background-position: center;
        margin-top: 20px;
        margin-right: 1%;
        background-size: cover;
    }
    .descInforight img
    {
        height: 550px;
        margin-top: 20px;
        margin-right: 80px;
    }
}
@media only screen and (max-width: 1710px){
    .landingPage{
        width: 100%;
        height:80px;
        background-color:#EEEEEE;
    }
    .navBar
    {
        width: 100%;
        height: 80px;
        margin: 0 auto;
        overflow: hidden;
        background-color:white;   
        position:fixed; 
    }
    .navLogo
    {
        width:30%;
        float: left;
    }
    .navLogo img
    {
        height:95px;
        margin-left: 100px;
        margin-top: -7px;
    }
    .navLink
    {
        width:70%;
        height: 50px;
        float: right;
    }
    .navLink ul
    {
        margin-left: 223px;
    }
    .navLink ul li
    {
        display: inline;
        padding-left: 40px;
    }
    .navLink ul li a
    {
        color: black;
        line-height: 80px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }
    .navLink ul li a:hover{
        color: lightblue;
    }
    .navLink .button{
        background-color:#004A2F;
        cursor: pointer;
        width:120px;
        height:35px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: white;
        margin-left: 40px;
        outline: none;
        border: none;
    }
    .navLink .button:hover{
        color: lightblue;
        background-color: black;
    }
    .IndexPage
    {
        width: 100%;
        height:100vh;
        background-color:#EEEEEE;
    }
    .landingPageCont
    {
        width: 100%;
        height: 100%;
    }
    .containers
    {    width: 50%;
        float: left;
        margin: 0 auto;
    }
    .containers img
    {
        height: 530px;
        margin-top: 40px;
        margin-left: 140px;
    }
    .landingPageHeading
    {
        width: 55%;
        margin-top:150px;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
        word-spacing: 2px;
        margin-left: 100px;   
    }
    .landingPageBody
    {
        width:65%;
        margin-top:50px;
        text-align:left;
        font-weight: lighter;
        color:black;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        word-spacing: 2px;
        margin-left: 100px;   
    }
    .landingPageButton
    {
        width: 180px;
        height: 40px;
        background-color:#004A2F;
        cursor: pointer;
        outline: none;
        border: none;
        color:white;
        margin-left: 100px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        margin-top: 40px;
    }
    .landingPageButton:hover{
        color: lightblue;
        background-color: black;
    }
    /* Second Page */
    /* Info Page */
    .infoSection
    {
        width: 100%;
        height: 80vh;
        background-image:linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.534)), url(img/palm-trees-at-night-258154\ \(3\).jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .infoHeading
    {
      width: 50%;
      height: 80vh;
      float: left;
      margin: 0 auto;
    }
    .infoHeading h3
    {
        width: 55%;
        font-family: 'Montserrat', sans-serif;
        font-size:19px;
        color: white;
        text-align: justify;
        padding-top:180px;
        margin-left: 100px;
        font-weight: bold;   
    }
    .infoHeading p
    {
        width: 65%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        text-align: justify;
        color: white;
        padding-top:180px;
        padding-left: 50px;
        font-weight:500;   
    }
    .infoButton
    {
        width:150px;
        height: 45px;
        background-color:#004A2F;
        border:none;
        color: white;
        outline: none;
        border-radius: 5px;
        margin-top: 50px;
        margin-left: 50px;
        cursor: pointer;
    }
    .infoButton:hover{
        color: lightblue;
        background-color: black;
    }
    .descSection
    {
        width: 100%;
        height: 100vh;
        background-color:white;
        margin: 0 auto;
    }
    .descInfoleft
    {
        float: left;
        width: 50%;
        height: 100vh;
    }
    .descInfoleft h3
    {
        font-family: 'Rokkitt', serif;
        font-size:35px;
        margin-top: 80px;
        margin-left: 100px;
        letter-spacing: 2px;
        font-weight:600;
    }
    .descInfoleft p
    {
        margin-left: 100px;
        width: 60%;
        font-family: 'Roboto', sans-serif;
        margin-top: 40px;
        font-size: 16px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: left;
        font-weight:lighter;
        color: rgb(48, 48, 48);
    }
    .descInforight
    {
        float:right;
        width: 50%;
        height: 550px;
        overflow: hidden;
        /* position: center; */
        background-image: url(img/bed.jpg);
        background-position: center;
        margin-top: 20px;
        background-size: cover;
    }
    .descInforight img
    {
        height: 550px;
        margin-top: 20px;
        margin-right: 80px;
    }
    
}